body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* toast links */
.toast-link:link {
  color: white;
}

/* visited link */
.toast-link:visited {
  color: white;
}

/* mouse over link */
.toast-link:hover {
  color: white;
  font-weight: bold;
}

/* selected link */
.toast-link:active {
  color: white;
}